header {

    background-image: linear-gradient(to right, #e7c492, #f8e9d4, #e0c194, #f8e9d4, #bda481, #e7c492);
    color: #f8f3ec;
    border: #743c27;
    text-align: center;
    padding: 10px;
    min-width: 700px;
    max-width: 100%;
    display: block;

}



body {
 background-image: url(https://i.pinimg.com/originals/97/97/8b/97978b7d3d8dd42ae7b9fe723f816f80.jpg);
 padding: 8px;
 min-width: 700px;
 max-width: 100%;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 background-attachment: fixed;

}

main {
    background-image: linear-gradient(to right, #e7c492, #f8e9d4, #f8e9d4, #f8e9d4, #f8e9d4, #e7c492);
    color: #2f1004;
    margin: 24px;
    padding:20px;
    padding-left: 60px;
    padding-right: 60px;
    min-width: 600px; /*define a largura mínima de um elemento*/
    /**display: block;**/

}


#titulo {
 text-align: center;
 font-size: 2.5em;
 color: darkgrey;
 text-shadow: rgba(50, 50, 50, 0.77) 2px 2px 2px;
 font-weight: bold;


}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


nav ul li{
          
       font-family: cursive;
        font-size: 20px;
        padding: 1em 1em;
         border: 1px solid black;
        transition: all ease 0.5s 0s;
        color: black 
} 




nav ul li:hover{
            background-color:black;
           color: red;
            cursor: pointer;
           font-size: 25px;
          transform: scale(1.5); 
}


#principal {
    min-width: 600px; 
    max-width: 900px;
    margin-left: auto; 
    margin-right: auto;
    text-align: justify;
}


#part2 {
    color: #50200e;
    font-size: 1.5em;    
    margin-top:40px;
    clear: both;

}

#part {

         margin-right: 300px;


}

#imagem {
              float: right;
              margin-left: 20px;
              width: 400px;
              margin-top: 10px;
              border: 2px solid #e4d2b9;
}

#imagem2 {

     width: 30px;

}

.foto{
          float: left;
              width: 300px;
              margin-right: 50px;
              border: 2px solid #e4d2b9;

}

footer{
    background-image: linear-gradient(to right, #e7c492, #f8e9d4, #f8e9d4, #f8e9d4, #f8e9d4, #e7c492);
    margin: 24px;
    padding:20px;
    padding-left: 60px;
    padding-right: 60px;


}

#footer{
    color:black;
    padding: 6px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 20px;
    text-align: -webkit-match-parent;
 }

ol{

    list-style-type: none;
}


#links {
               text-decoration: none;
 

}